---
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntry } from 'astro:content';

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection('blogs');
console.log(allBlogPosts);

// Get a single entry from a collection.
// Requires the name of the collection and either
// the entry `slug` (content collections) or `id` (data collections)
// Example: retrieve `src/content/authors/grace-hopper.json`
---



<Layout description="Moncef blog" title="Moncef Blog" transition:animate={"slide"}>
   <main class="flex  gap-12 flex-wrap items-center justify-center">
   {
        allBlogPosts.map((blog)=>{
            return <Card data={blog.data} slug={blog.slug}  /> 
        })
    }

   </main>
</Layout>
