---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout description='' title="Welcome to Astro.">

	<main class="h-full w-full">
		<p>Read more <a href="/blog">about</a> Astro!</p>
	</main>
</Layout>
