---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

type Props = {
    title:string
    img: string 
    description:string
    author:string
    date:string
}
const { author, description,img,title,date } = Astro.props;
---


    
    <section id="card" class={` overflow-hidden w-[320px] bg-white shadow-sm aspect-[7/10] `}>
        <Image width={320} height={200}  class="rounded-none"  src={img} alt="A bird sitting on a nest of eggs."/>
        
    </section>
