---
import { Image } from 'astro:assets';

type Props = {
    title:string
    img: string 
    description:string
    author:string
    date:string
}
const { author, description,img,title,date } = Astro.props;
---
<style>
    #card{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url();
    }
</style>

<section id="card" class="border w-[320px] relative shadow-sm aspect-[7/10] rounded-lg">
haha
<!-- <Image width={320} height={740}  class="absolute object-cover inset-0"  src={"https://uploadthing.com/f/44eb7e98-1c75-494c-a14c-b5d479cac657_pexels-alex-conchillos-3648850.jpg"} alt="A bird sitting on a nest of eggs."/> -->

</section>
