---
const links = [
  {
    ref: '01',
    name: 'Home',
    href: '/',
  },
  {
    ref: '02',
    name: 'About',
    href: '/about',
  },
  {
    ref: '03',
    name: 'Blog',
    href: '/blog',
  },
  {
    ref: '04',
    name: 'Contact',
    href: '/contact',
  },
];
---

<header
  x-data="{ open: false }"
  class=" sticky transition-all text-light-950 dark:text-dark-50"
  :class="{ 'bg-stone-50  dark:bg-dark-950': open, 'bg-light-50 dark:bg-dark-900': !(open) }"
>
  <div
    class="mx-auto flex max-w-2xl items-baseline justify-between px-4 py-4 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8"
  >
    <!-- Brand logo -->
    <a href="/" class="text-4xl font-bold text-primary-500 dark:text-primary-500 ">
      MONCEF
    </a>

    <!-- Actions -->
    <div class="-mr-2 flex items-center space-x-2 sm:space-x-3">
      <!-- Toggle theme mode -->
      <button
        type="button"
        class="text-primary-950 dark:text-primary-200 hover:bg-primary-500/10 dark:hover:bg-primary-400/10 ring-primary-950 inline-flex h-14 w-14 items-center justify-center rounded-full transition focus:outline-none focus-visible:ring-2"
        x-data
        @click="$store.theme.toggle()"
      >
        <span class="sr-only">Toggle theme mode</span>
<svg           x-cloak
          class="h-6 w-6  fill-light-950 dark:fill-primary-200"
          :class="{ 'hidden': !($store.theme.isDark) }" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256"><path d="M184,128a56,56,0,1,1-56-56A56,56,0,0,1,184,128Z" opacity="0.2"></path><path d="M120,40V32a8,8,0,0,1,16,0v8a8,8,0,0,1-16,0Zm72,88a64,64,0,1,1-64-64A64.07,64.07,0,0,1,192,128Zm-16,0a48,48,0,1,0-48,48A48.05,48.05,0,0,0,176,128ZM58.34,69.66A8,8,0,0,0,69.66,58.34l-8-8A8,8,0,0,0,50.34,61.66Zm0,116.68-8,8a8,8,0,0,0,11.32,11.32l8-8a8,8,0,0,0-11.32-11.32ZM192,72a8,8,0,0,0,5.66-2.34l8-8a8,8,0,0,0-11.32-11.32l-8,8A8,8,0,0,0,192,72Zm5.66,114.34a8,8,0,0,0-11.32,11.32l8,8a8,8,0,0,0,11.32-11.32ZM40,120H32a8,8,0,0,0,0,16h8a8,8,0,0,0,0-16Zm88,88a8,8,0,0,0-8,8v8a8,8,0,0,0,16,0v-8A8,8,0,0,0,128,208Zm96-88h-8a8,8,0,0,0,0,16h8a8,8,0,0,0,0-16Z"></path></svg>
                <svg           x-cloak
          class="h-6 w-6 fill-light-950 dark:fill-primary-200"
          :class="{ 'hidden': $store.theme.isDark }"
 xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 256 256"><path d="M210.69,158.18A88,88,0,1,1,97.82,45.31,96.08,96.08,0,0,0,192,160,96.78,96.78,0,0,0,210.69,158.18Z" opacity="0.2"></path><path d="M240,96a8,8,0,0,1-8,8H216v16a8,8,0,0,1-16,0V104H184a8,8,0,0,1,0-16h16V72a8,8,0,0,1,16,0V88h16A8,8,0,0,1,240,96ZM144,56h8v8a8,8,0,0,0,16,0V56h8a8,8,0,0,0,0-16h-8V32a8,8,0,0,0-16,0v8h-8a8,8,0,0,0,0,16Zm72.77,97a8,8,0,0,1,1.43,8A96,96,0,1,1,95.07,37.8a8,8,0,0,1,10.6,9.06A88.07,88.07,0,0,0,209.14,150.33,8,8,0,0,1,216.77,153Zm-19.39,14.88c-1.79.09-3.59.14-5.38.14A104.11,104.11,0,0,1,88,64c0-1.79,0-3.59.14-5.38A80,80,0,1,0,197.38,167.86Z"></path></svg>
        <!-- <svg
          x-cloak
          class="h-6 w-6"
          :class="{ 'hidden': $store.theme.isDark }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M10 6C10 10.4183 13.5817 14 18 14C19.4386 14 20.7885 13.6203 21.9549 12.9556C21.4738 18.0302 17.2005 22 12 22C6.47715 22 2 17.5228 2 12C2 6.79948 5.9698 2.52616 11.0444 2.04507C10.3797 3.21152 10 4.56142 10 6ZM4 12C4 16.4183 7.58172 20 12 20C14.9654 20 17.5757 18.3788 18.9571 15.9546C18.6407 15.9848 18.3214 16 18 16C12.4772 16 8 11.5228 8 6C8 5.67863 8.01524 5.35933 8.04536 5.04293C5.62119 6.42426 4 9.03458 4 12ZM18.1642 2.29104L19 2.5V3.5L18.1642 3.70896C17.4476 3.8881 16.8881 4.4476 16.709 5.16417L16.5 6H15.5L15.291 5.16417C15.1119 4.4476 14.5524 3.8881 13.8358 3.70896L13 3.5V2.5L13.8358 2.29104C14.5524 2.1119 15.1119 1.5524 15.291 0.835829L15.5 0H16.5L16.709 0.835829C16.8881 1.5524 17.4476 2.1119 18.1642 2.29104ZM23.1642 7.29104L24 7.5V8.5L23.1642 8.70896C22.4476 8.8881 21.8881 9.4476 21.709 10.1642L21.5 11H20.5L20.291 10.1642C20.1119 9.4476 19.5524 8.8881 18.8358 8.70896L18 8.5V7.5L18.8358 7.29104C19.5524 7.1119 20.1119 6.5524 20.291 5.83583L20.5 5H21.5L21.709 5.83583C21.8881 6.5524 22.4476 7.1119 23.1642 7.29104Z"
          ></path>
        </svg> -->
      </button>

      <!-- Toggle menu -->
      <button
        type="button"
        class="text-primary-950 dark:text-primary-200 hover:bg-primary-500/10 dark:hover:bg-primary-400/10 ring-primary-950 inline-flex h-14 w-14 items-center justify-center rounded-full transition focus:outline-none focus-visible:ring-2"
        @click="open = !open"
        @mousedown="if (open) $event.preventDefault()"
        aria-controls="website-menu"
        aria-expanded="false"
        :aria-expanded="open.toString()"
      >
        <span class="sr-only">Toggle menu</span>
    
    
        <svg
          x-cloak
          class="h-8 w-8 fill-light-950 dark:fill-primary-200"
          :class="{ 'hidden': open, 'block': !(open) }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path d="M19 8H5V10H19V8ZM19 14H5V16H19V14Z"></path>
        </svg>
        <svg
          x-cloak
          class="h-8 w-8 fill-light-950 dark:fill-primary-200"
          :class="{ 'block': open, 'hidden': !(open) }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z"
          ></path>
        </svg>
      </button>
    </div>
  </div>


  <style>
.des {
  position: relative;
  overflow: hidden;
}

.des::before {
  content: "";
  position: absolute;
  top: 0; /* Adjust these values */
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/des.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  </style>
  <!-- Menu content -->
  <div
    class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8"
    id="website-menu"
    x-cloak
    x-show="open"
    x-collapse
    x-collapse.duration.500ms
  >
    <div class="grid grid-cols-1 gap-16 pb-24 pt-6 lg:grid-cols-2 lg:pt-12">
      <div
        class="des   hidden items-center justify-center rounded-3xl px-6 py-8 lg:flex"
      >
        <p
          class="text-dark-500 bg-primary-900/10 p-6 rounded-xl backdrop-blur-2xl dark:text-primary-50  max-w-sm text-xl italic leading-loose"
        >
          <span class="font-medium">Moncef</span> is a proficient full-stack developer who loves working with TypeScript, reading books, and engaging with startups. If you're interested in collaborating with him, <a href="/contact" class="text-primary-500 hover:text-primary-600 ">click here</a>.
        </p>
      </div> 
      <!-- Navigation -->
      <nav class="divide-primary-900/10 dark:divide-primary-300/10 flex flex-col gap-1 divide-y">
        {
          links.map((link) => (
            <a
              href={link.href}
              class="text-primary-950 hover:bg-light-100 dark:hover:bg-dark-900 rounded-xl p-2 px-6 dark:text-primary-200 group inline-flex py-6 text-3xl font-medium tracking-tight  focus-visible:outline-none sm:py-8 sm:text-4xl"
            >
              <div class="group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 flex flex-1 items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2">
                <div class="flex items-center gap-6">
                  <span class="text-xs">{link.ref}</span>
                  <span class="">{link.name}</span>
                </div>
                <svg
                  class="text-primary-600 group-hover:translate-x-2 transition-all duration-75 group-hover:-translate-y-2 dark:text-primary-400 h-6 w-6 sm:h-8 sm:w-8"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" />
                </svg>
              </div>
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>
