---
---
<section class="py-16 w-full flex flex-col">
    <a href="/blog" class="absolute decoration-transparent right-0 p-5 rounded-l-lg bg-dark-950">
        Want to read my Blogs ?
    </a>
<h1>
He I'm Moncef 
</h1>
<h1>
full-stack Developer from 
</h1>
<h1>
Algeria
</h1>
</section>