---
import Skill from "./Skill.astro";
 const images = [
    {filename:"typescript.svg",name:"typescript"},
    {filename:"nextjs.svg",name:"next js"},
    {filename:"react.svg",name:"react"},
    {filename:"astrojs.svg",name:"astro js"},
    {filename:"tauri.svg",name:"tauri"},
    {filename:"electronjs.svg",name:"electron js"},
    {filename:"tailwindcss.svg",name:"tailwind css"},
    {filename:"reactrouter.svg",name:"react router"},
    {filename:"reduxtoolkit.svg",name:"redux toolkit"},
    {filename:"reactquery.svg",name:"react query"},
    {filename:"swr.svg",name:"swr"},
    {filename:"prisma.svg",name:"prisma"},
    {filename:"zodlogo.svg",name:"zod"},
    {filename:"langchain.png",name:"langchain"},
    {filename:"nextauth.webp",name:"next auth"},
    {filename:"auth0.svg",name:"auth0"},
    {filename:"nodejs.svg",name:"node js"},
    {filename:"deno.svg",name:"deno"},
    {filename:"jwt.svg",name:"jwt"},
    {filename:"expressjs.svg",name:"express js"},
    {filename:"nestjs.svg",name:"nest js"},
    {filename:"sanity.svg",name:"sanity"},
    {filename:"supabase.svg",name:"supabase"},
    {filename:"firebase.svg",name:"firebase"},
    {filename:"mongodb.svg",name:"mongodb"},
    {filename:"postgressql.svg",name:"postgressql"},
    {filename:"mysql.svg",name:"mysql"},
    {filename:"sqlite.svg",name:"sqlite"},
  ];

---




<section class="h-screen w-full flex justify-center items-center">
    <section class="flex flex-col">
        <h2  class="sm:text-5xl text-4xl">
         Skilled in
        </h2>
        <section class="flex mt-2 flex-wrap gap-2">

            {images.map(img=> <Skill img={img.filename} name={img.name}/> )}
        </section>
        <section class="flex flex-col items-center justify-center mt-10 gap-6">
    <p class="text-2xl">
        What I buit ?
    </p>
    <button class="text-sm w-full flex-col justify-center items-center">
       <div class="flex justify-center items-center w-full animate-bounce ">

<svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="rgb(185 143 68)" viewBox="0 0 256 256"><path d="M208,48l-80,80L48,48Z" opacity="0.2"></path><path d="M213.66,133.66l-80,80a8,8,0,0,1-11.32,0l-80-80a8,8,0,0,1,11.32-11.32L128,196.69l74.34-74.35a8,8,0,0,1,11.32,11.32Zm-171.32-80A8,8,0,0,1,48,40H208a8,8,0,0,1,5.66,13.66l-80,80a8,8,0,0,1-11.32,0Zm25,2.34L128,116.69,188.69,56Z"></path></svg>    </button>


</section>
    </section>
</section>