---
type Props = {
    img:string
    name:string
}

const { img , name } = Astro.props;
---


<section class=" group sm:hover:scale-95 ease-linear duration-100 transition-all flex sm:w-20 sm:h-20 h-12 w-12 justify-center items-center bg-light-950 dark:bg-dark-800   rounded-xl">
    <img class="sm:w-12 w-7" src={`./skills/${img}`} alt={name} title={name} >
</section>