---
import Layout from './Layout.astro';
type Props = {
    title: string
    description:string
}
const { title,description  } = Astro.props;
---


<Layout title={title} description={description} >
    <main class="w-full flex justify-center items-center">
        <main class=" max-w-3xl prose-invert prose-p:text-xl prose-p:text-primary-950 prose-img:rounded-none p-5 rounded-lg prose  prose-table:text-light-100 prose-thead:text-primary-200 pros prose-blockquote:bg-dark-950 prose-blockquote:border-l prose-blockquote:border-primary-500 prose-strong:text-primary-500 prose-headings:text-primary-500 prose-lg  lg:prose-xl  prose-h1:text-primary-500 prose-h2:text-primary-400 prose-h3:text-primary-400 prose-h4:text-primary-400
      prose-h5:text-primary-500  prose-h6:text-primary-400 dark:prose-p:text-light-50 prose-a:text-primary-500 ">
            <slot />
        </main>
        </main> 

</Layout>
