--- 
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
type Props= {
	  description: string;
	title: string;
}
const { title,description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" x-cloak x-data :class="{ 'dark': $store.theme.isDark }" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	  <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
		<title>{title}</title>
		<ViewTransitions />
    <script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
	</head>
  
	<body class=" bg-light-50 overflow-x-hidden min-h-screen flex flex-col justify-between transition-all w-full dark:bg-dark-900 text-light-950 dark:text-dark-50  ">
    <Header />
    <main class="bg-light-50 overflow-x-hidden  transition-all w-full dark:bg-dark-900 text-light-950 dark:text-dark-50 ">
      <main class=" py-10 overflow-x-hidden 
         mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <slot />
      </main>

    </main>
    <Footer />
		  <style is:global>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        
        html {
      scroll-behavior: smooth;
      }
/* *{
font-family: 'Montserrat', sans-serif;} */
*{
  font-family: 'Poppins', sans-serif;
}
      [x-cloak] {
        display: none !important;
      }
::selection {
    background: #111111;
    color:#b3ac9d
}
      .coolfont{
font-family: 'Vultura';   
   }



    </style>
   <script>
      import Alpine from 'alpinejs';
      import collapse from '@alpinejs/collapse';

      Alpine.plugin(collapse);

      Alpine.store('theme', {
        init() {
          this.isDark = (() => {
            if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
              return localStorage.getItem('theme') === 'dark';
            }
            if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
              return true;
            }
            return false;
          })();
        },

        isDark: false,

        toggle() {
          this.isDark = !this.isDark;
          localStorage.setItem('theme', this.isDark ? 'dark' : 'light');
        },
      });

      window.Alpine = Alpine;
      Alpine.start();
    </script>
	</body>


</html>
